##-------------------------------------
##   Bundle Template
##   Modified by masuda, Masuda Naika
##-------------------------------------
<TT><FONT SIZE="${hints.getFontSize()}" COLOR="${hints.getBackgroundAs16String()}">
<TABLE BORDER="${hints.getBorder()}" CELLSPACING="${hints.getCellSpacing()}" CELLPADDING="${hints.getCellPadding()}">
### タイトル ###
#if ($hints.isNewStamp($stampName))
<TR BGCOLOR="${hints.getLabelColorAs16String()}">
<TD NOWRAP>${model.getOrderName()}</TD>
<TD NOWRAP COLSPAN="2" ALIGN="RIGHT">${model.getClassCode()}</TD></TR>
#else
<TR BGCOLOR="${hints.getLabelColorAs16String()}">
<TD NOWRAP>${model.getOrderName()}($stampName)</TD>
<TD NOWRAP COLSPAN="2" ALIGN="RIGHT">${model.getClassCode()}</TD></TR>
#end
### 項目 ###
#foreach ($item in $model.getClaimItem())
#if ($item.getNumber())
<TR><TD>・${item.getName()}</TD>
<TD NOWRAP ALIGN="RIGHT"> x ${item.getNumber()}</TD>
<TD NOWRAP> $!{hints.getUnit($item.getUnit())}</TD></TR>
#else
<TR><TD COLSPAN="3">・${item.getName()}</TD></TR>
#end
#end
### メモ ###
#if ($model.getMemo())
<TR><TD COLSPAN="3">$!{model.getMemo()}</TD></TR>
#end
### バンドル数量 ###
#if ($model.getBundleNumber().startsWith("*"))
<TR><TD COLSPAN="3">・${hints.parseBundleNum($model)}</TD></TR>
#elseif ($model.getBundleNumber() != "1")
<TR><TD>・回数</TD>
<TD NOWRAP ALIGN="RIGHT"> x ${model.getBundleNumber()}</TD>
<TD> 回</TD></TR>
#end
### おわり ###
</TABLE></FONT></TT>